@import "node_modules/ui-fonts/build/font-awesome";
@import "node_modules/ui-styles/variables";
:host {
  display: inline-block;
  #button {
    display: flex;
    vertical-align: middle;
    border: none;
    outline: none;
    margin: none;
    padding: 0.65em 0.65em;
    font-weight: 200;
    background-image: linear-gradient(@hairline-grey, @hairline-grey);
    .box-shadow(0px 0px 0px 1px @hairline-grey inset);
    .transition(@transition);
    color: fade(@black, @disabled);
    cursor: default;
    &.enabled {
      color: @black;
      cursor: pointer;
    }
    &.pressed {
      .transform(scale(0.95, 0.95));
    }
  }
  #icon {
    padding-right: 0.25em;
  }
  #label {
    flex: 1;
  }
}
