@import "../node_modules/ui-fonts/build/font-awesome-styles";
@import "../node_modules/ui-styles/variables";
:host {
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  #button {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    margin: none;
    padding: 0.65em 0.65em;
    font-weight: 200;
    background-color: @hairline-grey;
    background-image: linear-gradient(rgba(0,0,0,0.01), rgba(255,255,255,0.1));
    .box-shadow(0px 0px 0px 1px @hairline-grey inset);
    .transition(@transition);
    color: @color-disabled-text;
    cursor: default;
    &.enabled {
      color: @color-text;
      cursor: pointer;
    }
    &.pressed {
      .transform(scale(0.95, 0.95));
    }
  }
  #icon {
    padding-right: 0.35em;
  }
  #label {
    flex: 1;
  }
}

:host([inverted]) {
  #button {
    color: @color-inverted-disabled-text;
    background-color: @black;
    background-image: linear-gradient(rgba(255,255,255,0.01), rgba(0,0,0,0.1));
    &.enabled {
      color: @color-inverted-text;
      cursor: pointer;
    }
  }
}
