@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/visual-elements";

:host {
  display: inline-block;
  position: relative;
  .cannot-select-text;
  #button {
    overflow: hidden;
    border: none;
    outline: none;
    margin: 0;
    padding: 0.55em 0.55em;
    .flat;
    .border;
    .transition(@transition);
    cursor: default;
    &.enabled {
      cursor: pointer;
    }
    &.pressed {
      .transform(scale(0.95, 0.95));
    }
  }
  #disabler {
    .disabler-enabled;
  }
}

:host([disabled]) {
   #disabler {
     .disabler-disabled;
   }
   #button {
     .invert;
   }
}
